@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --text-color: rgb(39, 39, 39);
    --title-color: rgb(59, 59, 59);
    --link-color: rgb(90, 85, 85);
    --bg-color: rgb(231, 226, 226);
    --snippet-bg-color: rgb(226, 220, 220);
    --shadow-color: rgb(216, 210, 210);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: min(90%, 1000px);
    margin: 0 auto;
    background-color: var(--bg-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--link-color);
}

em {
    font-style: normal;
}

.blog {
    display: flex;
    flex-flow: column;
}

.snippet {
    margin-inline: 1em;
    margin-block: 3em;
    background-color: var(--snippet-bg-color);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 1px var(--shadow-color);
}

h1,
h2 {
    text-align: center;
    padding: 2em;
    color: var(--title-color);
}

h2.title-teaser {
    padding-inline: 0;
}

p {
    line-height: 1.9em;
    color: var(--text-color);
}

p.date {
    font-weight: bold;
}

div.post {
    padding-inline: min(3em, 1%);
    padding-block: 2em;
}

.img-container {
    width: min(50%, 350px);
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}