@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --text-color: rgb(39, 39, 39);
    --title-color: rgb(59, 59, 59);
    --link-color: rgb(90, 85, 85);
    --bg-color: rgb(231, 226, 226);
    --snippet-bg-color: rgb(226, 220, 220);
    --shadow-color: rgb(216, 210, 210);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: min(90%, 1000px);
    margin: 0 auto;
    background-color: var(--bg-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--link-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

em {
    font-style: normal;
}

.blog {
    display: flex;
    flex-flow: column;
}

nav {
    display: flex;
    margin: 2em;
}

nav>div>ul {
    display: flex;
    gap: 1em;
    align-items: center;
}

.login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 60vh;
}

form {
    width: min(500px, 90%);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--shadow-color);
}

form>* {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

label {
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 0.5em;
    text-align: center;
    color: var(--text-color);
}

input {
    width: min(400px, 85%);
    border: 1px solid whitesmoke;
    padding: 0.25em;
    text-align: center;
    border-radius: 5px;
}

button {
    margin: 2.5em;
    width: min(200px, 60%);
    padding: 0.25em;
    border: 1px solid transparent;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
}

.active {
    text-decoration: underline;
    color: var(--text-color) !important;
}

.menu-options {
    margin-left: auto;
}

.sort-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-options {
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 4em;
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 1em;
}

.snippet {
    margin-inline: 1em;
    margin-block: 3em;
    background-color: var(--snippet-bg-color);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 1px var(--shadow-color);
}

h1,
h2 {
    text-align: center;
    padding: 2em;
    color: var(--title-color);
}

h2.title-teaser {
    padding-inline: 0;
}

p {
    line-height: 1.9em;
    color: var(--text-color);
}

p.date {
    font-weight: bold;
}

div.post {
    padding-inline: min(3em, 1%);
    padding-block: 2em;
}

.img-container {
    width: min(50%, 350px);
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

.warning {
    border: solid var(--snippet-bg-color) 2px;
    background-color: var(--shadow-color);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 5px;
    width: min(300px, 70%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting {
    font-size: 0.75em;
    font-weight: bold;
    background-color: var(--shadow-color);
    color: var(--text-color);
    padding: 0.5em;
    border-radius: 5px;
}